/*  color scheme sourced from http://khroma.co/generator/,
    like in Tyler's CSS Snippets .html. */
:root {
  --givry: rgb(248,211,197,99%);
  --mimosa: rgb(244, 255, 161);
  --loblolly: rgba(125, 137, 141, 0.97);
  --logan: rgba(112, 100, 128, 0.97);
}

html {
  /* Took a page out of Tyler's book and set font size to 10px, for easy ratio's and calculations later. */
  font-size:62.5%;
  font-family:"Sora", sans-serif;
}

body {
  background-image: linear-gradient(
    315deg,
    rgb(248,211,197, 0.35),
    rgb(248,211,197, 0.99)
  );
  color: var(--loblolly);
  font-size: 3rem;
}

header {
  background-image: linear-gradient(
    180deg,
    rgb(246,252,198, 0.7),
    rgb(246,252,198, 1)
  );
  color: var(--loblolly);
  user-select: none;

  justify-content:space-between;
  box-shadow: inset 0px 2px 4px var(--logan), 0px 2px 7px var(--logan);
}

header img {
  display:inline-block;
  /* Used to make the image background transparent; courtesy of: https://www.youtube.com/watch?v=Q5GywIkawP0 */
  mix-blend-mode: multiply;
  filter: contrast(1);
}

header div {
  min-height:100%;
}

header h1 {
  display:inline-block;
  font-size:3em;
  border-bottom: 3px solid;
  border-left: 3px solid;
  padding-left:.2em;
}

nav {
  padding-right:2em;
}

.navLinks {
  text-decoration:none;
  color: var(--loblolly);
  font-weight: 500;
}

.logoMain {
  padding-left:.5em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column
}

.center-flex {
  align-items:center;
}

.evenly-space {
  justify-content:center;
  flex-basis: auto;
}

.currentPage {
  pointer-events:none;
  color: var(--givry) !important;
}

header a {
  display:block;
  /* Manually set width here so sizing transition doesn't move all the nav links. */
  width:230px;
  border-left: 3px solid;
  border-color: var(--loblolly);
  padding-left: 1.2rem;
  transition: all .4s ease-in-out;
}

header a:hover {
  font-size: 1.1em;
  text-decoration: underline;
  border-color: var(--givry);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(255, 143, 103, 0.99), 0 0 40px rgba(253, 154, 118, 0.99), 0 0 50px rgba(255, 184, 158, 0.99), 0 0 rgba(255, 198, 177, 0.99), 0 0 70px rgb(248,211,197,99%);
}

/*    contact.html Classes    */

main {
  height:1100px;
}

div.floatingTable1st {
  background-image: linear-gradient(
    0deg,
    rgba(112, 100, 128, 0.7),
    rgba(112, 100, 128, 0.97)
  );
  width: 40%;
  height:90%;
  box-shadow: inset 0px 2px 4px var(--logan), 0px 5px 20px var(--logan);
}

div.floatingTable2nd {
  background-image: linear-gradient(
    0deg,
    rgb(246, 255, 176, 0.8),
    rgb(246, 255, 176, 1)
  );
  box-shadow: 0px 1px 3px var(--mimosa);
  width:92%;
  height:90%;
}

div.floatingTable3rd {
  outline: 3px dashed var(--loblolly);
  width: 96%;
  height: 96%;
  font-size:.75em;
}

div h3 {
  font-size:2em;
  text-align:center;
  line-height:.8;
  margin-top: -10%;
  position:relative;
  border-radius:100%;
  background-color: var(--givry);
  text-shadow: 0 0 200px whitesmoke, 0 0 1000px black;
  width: 102%;

  outline: 3px dashed var(--loblolly);
  user-select: none;
}

div.formContentsContainer {
  align-items:flex-start;
  margin-left: 5px;
}

div.formContents {
  max-height:fit-content;
  width:75%;
  padding-top: 20px;
}

#message {
  font-size:.7em;
}

#button {
  positive:relative;
  margin-left: -25%;
  font-size:2em;
  text-decoration: none;
}

div.mainMessage h4 {
  text-align:center;
  padding-top:15%;
}

/*  Classes for photos.html */

.gridPhotoContainer {
  display: grid;
  grid-template-areas: '. .' 'bigImg1 bigImg1' 'bigImg1 bigImg1' '. .' 'bigImg2 bigImg2' 'bigImg2 bigImg2' '. .' 'bigImg3 bigImg3' 'bigImg3 bigImg3' '. .';
  gap: 10px 15px;
  background-color: var(--logan);
  padding: 20px;
  width:80%;
  margin:auto;
  margin-top:5%;
  margin-bottom:5%;
}

.gridPhotoContainer > img {
  text-align: center;
  background-color: var(--mimosa);
  font-size: 2rem;
  object-fit:fill;
}

.bigImg1 {
  grid-area: bigImg1;
}

.bigImg2 {
  grid-area: bigImg2;
}

.bigImg3 {
  grid-area: bigImg3;
}