/*  color scheme sourced from http://khroma.co/generator/,
    like in Tyler's CSS Snippets .html. */
:root {
  --givry: rgb(248,211,197,99%);
  --mimosa: rgb(244, 255, 161);
  --loblolly: rgba(125, 137, 141, 0.97);
  --logan: rgba(112, 100, 128, 0.97);
}

html {
  /* Took a page out of Tyler's book and set font size to 10px, for easy ratio's and calculations later. */
  font-size:62.5%;
  font-family:"Sora", sans-serif;
}

body {
  background-image: linear-gradient(
    315deg,
    rgb(248,211,197, 0.35),
    rgb(248,211,197, 0.99)
  );
  color: var(--loblolly);
  font-size: 3rem;
}

header {
  background-image: linear-gradient(
    180deg,
    rgb(246,252,198, 0.7),
    rgb(246,252,198, 1)
  );
  color: var(--loblolly);
  user-select: none;

  justify-content:space-between;
  box-shadow: inset 0px 2px 4px var(--logan), 0px 2px 7px var(--logan);
}

header img {
  display:inline-block;
  /* Used to make the image background transparent; courtesy of: https://www.youtube.com/watch?v=Q5GywIkawP0 */
  mix-blend-mode: multiply;
  filter: contrast(1);
}

header div {
  min-height:100%;
}

header h1 {
  display:inline-block;
  font-size:3em;
  border-bottom: 3px solid;
  border-left: 3px solid;
  padding-left:.2em;
}

nav {
  padding-right:2em;
}

.navLinks {
  text-decoration:none;
  color: var(--loblolly);
  font-weight: 500;
}

.logoMain {
  padding-left:.5em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column
}

.center-flex {
  align-items:center;
}

.evenly-space {
  justify-content:center;
}

.currentPage {
  pointer-events:none;
  color: var(--givry) !important;
}

header a {
  display:block;
  /* Manually set width here so sizing transition doesn't move all the nav links. */
  width:230px;
  border-left: 3px solid;
  border-color: var(--loblolly);
  padding-left: 1.2rem;
  transition: all 2s ease-in-out;
}

header a:hover {
  font-size: 1.1em;
  text-decoration: underline;
  border-color: var(--givry);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(255, 143, 103, 0.99), 0 0 40px rgba(253, 154, 118, 0.99), 0 0 50px rgba(255, 184, 158, 0.99), 0 0 rgba(255, 198, 177, 0.99), 0 0 70px rgb(248,211,197,99%);
}